body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
  background-color: #DFDFDF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav bar */

.loading-page {
  width: 20%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00AAFF;
}

.nav li {
  float: left;

}
.nav li a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #4444AA;
}

.active {
  bacground-color: #8888DD;
}

#brand {
  text-align: center;
  color: white;
  padding: 10px 16px;
  font-size: 20px;
}

#hello {
  float: right;
  text-align: center;
  padding: 10px 16px;
  font-size: 20px;
  color: white;
}

#logout {
  float: right;
}


/* QuestionList component and containing elements */
.container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.panel {
  margin: 30px 10px 50px 10px;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
}

.filter-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.filter-btn button {
  background-color: #FF4444;
  border: 1px solid white;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 50%
}

.filter-btn button:hover {
  background-color: #DD0000;
}

.question-list {
  list-style-type: none;
  width: 80%;
  max-height: 500px;
  margin: auto;
  padding: 0;

}

/* Question components, i.e. the list items in QuestionList */

.question {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.question-info {
  padding: 5px 15px 5px 15px;
}

.question-info img {
  border-radius: 50%;
  width: 100%;
}

.question-info h2 {
  margin-top: 0px;
}

.question-info h4 {
  margin-top: 0%;
  text-align: center;
}

.question-info button {
  width: 100%;
  height: 20%;
  margin-top: 5%;
  background-color: #5555FF;
  border: none;
  border-radius: 3px;
}

.question-info button a {
  display: block;
  text-decoration: none;
  color: white;
}

/* Poll component */
.poll-container {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 30% 70%;
}

#poll-button {
  width: 100%;
  height: 50px;
  margin-top: 5%;
  background-color: #06BF22;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

#poll a {
  display: block;
  text-decoration: none;
  color: white;
}

/* Login page */

.login-box-outer {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 2%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.headline {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid black;
}

.headline h2 {
  margin-top: 1%;
  margin-bottom: 0px;
}

.headline h3 {
  margin-top: 0px;
}

.login-form {
  padding-top: 5%;
  padding-bottom: 5%;
}

.login-labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
  font-size: 18px;
}

.form-input {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  padding: 5px;
}

.form-input select, input {
  width: 180px;
  height: 30px;
  border: 1px solid grey;
  border-width: thin;
  border-radius: 3px;
}

.submit-btn {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 50px;
  margin-top: 5%;
  background-color: #FF4444;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
